{{ define "main" }}

{{ .Content }}

<div class="game-dev">
    <h1>Welcome to nexup.dev!</h1>
    <p>Welcome to the official nexup.dev website. Here you can find updates and information about
       our awesome Roblox games!
    </p>
    <button onclick="window.location.href='about.html'">
        <p style="font-family: 'IBM Plex Sans Condensed', sans-serif; font-weight :bold;">LEARN MORE</p>
    </button>
</div>
<div class="row-blur">
    <div  class="column">
        <img class="developer" src="images/developer_blur.png">
    </div>
    <div class="column" style="padding-top: 20%; ">
        <h1 class="dev">What we do</h1>
        <p class="desc">
            Nexup.dev is a team of designers, developers, and video game enthusiasts spending our
            days creating Roblox games. Below you can see some of our work!
        </p>
    </div>
</div>
<div class="selected">
    <h3>
        SELECTED PROJECTS
    </h3>
</div>
<div class="row-projects">
    <div  class="column-projects">
        <div class="inline">
            <h2>Crate Simulator</h2>
            <button>
                <b>MOBILE GAME</b>
            </button>
        </div>
        <p class="text">Crate Simulator, nexup.dev's ever first game, is a multiplayer simulator game where players open crates to earn money to unlock bigger and better
            crates! Do you have what it takes to climb the leadboards and be the best crate opener the world has seen?
            <br>
            <br>
            <br>
            <br>
            <br>
        </p>
        <p style="color: #7530BC; font-family: 'IBM Plex Sans Condensed', sans-serif; font-weight :bold; padding-top: 4.5%;" onclick="window.location='https://www.roblox.com/games/5857159122/Crate-Simulator-v1-0-8'">EXPLORE ></p>
        <hr style="margin-right: 25%;">
    </div>
    <div class="column2">
        <img src="images/WebsiteRender_1.png">
    </div>
</div>

{{ end }}
